<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727426949458-v2vmqd3o2g5s124up1kd8g558tedu5uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727426949458-v2vmqd3o2g5s124up1kd8g558tedu5uu</string>
	<key>API_KEY</key>
	<string>AIzaSyAStIKqB5VwlmgqyQmKoc5qOlz_Hht3ntM</string>
	<key>GCM_SENDER_ID</key>
	<string>727426949458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fedir72.-5-AutorizationWithPhoneNumber</string>
	<key>PROJECT_ID</key>
	<string>autorizationwithphonenumber</string>
	<key>STORAGE_BUCKET</key>
	<string>autorizationwithphonenumber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727426949458:ios:c352b1793480ec54441a8b</string>
	<key>DATABASE_URL</key>
	<string>https://autorizationwithphonenumber.firebaseio.com</string>
</dict>
</plist>